body {
  background: linear-gradient(#292929, rgb(81, 81, 81));
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(196, 196, 196);
}

header {
  outline-color: #40444b;
  background-color: linear-gradient(#292929, rgb(81, 81, 81));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header input {
  width: 300px;
  padding: 5px;
}

.container {
  border-radius: 8px;
  margin-top: 20px;
  background-color: #292929;
  padding: 12px;
}

aside {
  width: 250px;
  background: #a1a1a1;
  padding: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 10px 0;
}

main {
  flex: 1;
  padding: 20px;
}

.nav-tabs {
  --bs-nav-tabs-border-width: var(--bs-border-width);
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
  --bs-nav-tabs-link-active-color: #fffdfd;
  --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
  --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #c1c1c1;
  --bs-nav-link-hover-color: #c1c1c1;
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link.active {
  background-color: #dfdfdf;
  color: rgb(220, 220, 220);
  border-bottom: 2px solid #434343;
}

.nav-link:hover{
  background-color: rgb(169, 169, 169);
}

.nav-link {
  color: #838383;

}


.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.category {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.category img {
  width: 80px;
  height: 80px;
}

footer {
  background-color: #40444b;
  color: white;
  text-align: center;
  padding: 10px;

}

.navbar-brand img {
  height: 40px; 
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.logo-image {
  width: 150px;
  height: 150px;
  border-radius: 58%; 
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table>:not(caption)>*>* {
  padding: .5rem .5rem;
  color: var(--bs-table-color-state, var(--bs-table-color-type, #afafaf));
  background-color: #292929;
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.text-center {
  text-align: center !important;
  padding: 12px ;
  font-size: 40 px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5d5e61;
  --bs-btn-border-color: #282828;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7a7b7e;
  --bs-btn-hover-border-color: #282828;
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4b4c4f;
  --bs-btn-active-border-color: #282828;
  --bs-btn-active-shadow-rgb: 0, 0, 0;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #636363;
  --bs-btn-disabled-border-color: #282828;
  margin-top: 12px;
}

.btn-primary:hover {
  background-color: #7a7b7e;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.25);
}

.btn-primary:active {
  background-color: #4b4c4f;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-active-shadow-rgb), 0.25);
}

.btn-primary:disabled {
  background-color: #636363;
}

h1 {
margin-top: 0;
margin-bottom: 12px;
font-weight: 500;
line-height: 1.2;
color: var(--bs-heading-color);
}

form {
  display: block;
  margin-top: 20px;
  unicode-bidi: isolate;
  margin-block-end: 1em;
  color: #c1c1c1;
}

.col-md-3 {
  flex: 0 0 auto;
  width: 9%;
}

.form-control {
  display: block;
  width: 60%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
